.cell{
    border-style: solid;
    border-width:1px;
    border-color: black;
}

.blankProgress *{
    background-color: #e9ecef;
}

.months{
    margin-bottom: 10px;
}

@media(max-width:767px){
    .wideScreenOnly{
        display:none;
    }
    .monthHeading{
        margin-top:5px;
    }
}

@media (min-width:576px){
    .monthButtonArrows{
        margin-right:20%;
    }
}

.year{
    padding:2.5px 0 0 0 ;
    text-align: center;
}

.filter *{
    font-size: small;
}

.taskKey{
    padding-left:0px;
}

.verticalMarginTopBottom{
    margin-top: 10px;
    margin-bottom: 10px;
}

.monthHeading{
    width:8.33%;
    border-radius: .25rem;
    height:30px;
    color:rgb(74, 73, 73);
    display:inline-block;
    font-size:medium;
    font-weight: bold;
    padding-top:2.5px;
    background-color:rgb(200, 199, 199);
    border-width: 0 0.5px 0 0px;
    border-style:solid;
    border-color:black;
    padding:0
}

.singleMonthHeading{
    margin: 5px 5px 5px 5px;
    height:25px;
    min-width:30px;
}

.yearButtonMonthView{
    padding-top: 18px;
}
.disabled i{
    color: lightgray;
}

.yearHeading{
    width:30%;
    max-width:100px;
    margin:0 5px 0 5px;
}

.dayHeading{
    height:22px;
}

.yearButton{
    border-radius: .25rem;
    border-width:2px;
    border-style:solid;
    background-color: lightgray;
    height:30px;
    border-color:grey;
    width:40%;
    display:inline;
    margin:0px 7px 0px 7px;
    padding:0px 2px 0px 2px;
}

.arrow{
    display:inline;
}

.arrow i{
    color:rgb(130, 130, 130);   
}

.arrow i:hover{
    cursor: pointer;
    color:rgb(54, 53, 53);
}

.projectCard{
    padding:0 0 0 0;
}

.projectCard *{
    padding-left:0px ;
}

.projectTitle{
    padding-top:2%;
    padding-bottom:2%;
    padding-left:20px;
    border-style:solid;
    border-width:0 1px 0 0;
    border-color:rgb(228, 227, 227);
}

@media (max-width:576px){
    .noMarginMobile{
        margin-left:0;
    }
}