.blankProgress{
    background-color: #e9ecef;
}

.stackedProgress  > *{
    width:100%;
    background-color: #e9ecef;
}

.notStarted{
    background-color: #17a2b8;
}

.inProgress{
    background-color: rgb(255, 211, 128);
}

.complete{
    background-color: rgb(105, 212, 95);
}

.overdue{
    background-color: #dc3545;
}

.calTask{
    border-radius:.25rem;
}

.projectCard{
    padding:0 0 0 0

}

.outerProjectCard{
    margin-bottom: 10px;
    
}

.projectCard *{
    padding-left:0px ;
}

.projectTitle{
    padding-left:20px;
    border-style:solid;
    border-width:0 1px 0 0;
    border-color:rgb(228, 227, 227);
}

@media (max-width:767px){
    .projectTitle{
        border-width:0 0px 1px 0px;
        padding-left:0px;
    }
    .noMarginMobile{
        margin-left:0;
    }
    .topMargin{
        margin-top:5px;
    }
}

.greyBackground{
    background-color: lightgray;
    border-radius: .25rem;
}

.centerItems{
  margin-top:10%;
  margin-bottom:10%
}

.noPadding{
    padding-right: 0px;
    margin-right:0px;
}

.verticalCenter {
    position: relative;
    top: 45%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}