*{
    text-align: center;
}

.links{
    max-width:300px;
}

.homeBox{
    width:50%;
    height:40px;
    margin:auto;
    border-style: ridge;
    border-width:2px;
    padding-top: 10px;
}

#homeImages{
    margin:auto;
    padding-top:50px;
}

.caption{
    color:black;
    padding-top:60px;
}

.carousel{
    max-width:400px;
    margin:auto;
}

.carouselIicon{
   background-color:black;
}

#homeImages i{
    color:blue;
    font-size: 80px;
}

#homeImages p{
    padding-top:20px;
}

@media (max-width:576px){
    .imageRow{
        height:500px;
    }
}

#about {
    font-size:small
}
