*{
    text-align: center;
}

.homeBox{
    width:50%;
    height:40px;
    margin:auto;
    border-style: ridge;
    border-width:2px;
    padding-top: 10px;
}

#homeImages{
    width:80%;
    margin:auto;
    padding-top:50px;
}


#homeImages i{
    color:blue;
    font-size: 80px;
}

#homeImages p{
    padding-top:20px;
}

@media (max-width:576px){
    .imageRow{
        height:500px;
    }
}
