.taskHeader{
    height:50px;
    padding-top:3px;
    font-size: small;
    background-color: rgb(236, 230, 230);
    opacity: 90%;
}

.inProgress{
    background-color: rgb(255, 211, 128);
}

.complete{
    background-color: rgb(105, 212, 95);
}

.taskAvatar{
    padding-bottom: 50px;
}