.taskHeader{
    height:110px;
    font-size: small;
    text-align: left;
    background-color: rgb(236, 230, 230);
    opacity: 90%;
}

.inProgress{
    background-color: rgb(255, 211, 128);
}

.complete{
    background-color: rgb(105, 212, 95);
}

.overdue{
    background-color: #dc3545;
}

.hidden{
    display:none
}

.visible{
    display:inline;
}

.taskAvatar{
    padding-bottom: 50px;
}

.box{
    border-style: ridge;
    border-width: 1px;
    border-color: grey;
    height:70px;
}

@media (max-width:767px){
    .description{
        border-bottom: 2px;
        border-bottom-style: solid;
        border-color: rgb(180, 175, 175);
        font-weight:700
    }
}


@media (min-width:767px){
    .hidden{
        display:none;
    }
    .taskHeader{
        height:50px
    }
}

