.App {
font-family: 'Fira Sans Extra Condensed', sans-serif;
min-height: 100vh;
background-color: rgb(125, 212, 212);
}

.green{
    background-color: rgb(125, 212, 212);
}

.blue{
    background-color: rgb(154, 203, 241);
}

.pink{
    background-color: rgb(238, 195, 244);
}

.white{
    background-color: rgb(243, 239, 233);
}

.padding{
    padding:5px;
}

.textField{
    text-align: justify;
}

.horizontalMargin{
    margin-left:10px;
    margin-right:10px;
}

.verticalMargin{
    margin-top: 10px;
}

.verticalMarginTopBottom{
    margin-top: 10px;
    margin-bottom: 10px;
}

.Main {
    padding-top: 81px;
}

@media (min-width:768px) and (max-width:991px){
    .Main {
        padding-top: 100px;
    }
}
@media (max-width:348px){
    .Main {
        padding-top: 100px;
    }
}

.Content {
background-color: #ffffff;
padding: 10px;
border-radius: 2px;
border: 1px solid #dadadf;
}

.FillerImage {
object-fit: cover;
height: 100%;
width: 100%;
}

.Image {
max-height: 40vh;
max-width: 100%;
object-fit: contain;
}

* {
box-sizing: border-box;
}

a {
color: #555555;
transition: color ease-in-out 0.3s;
}

a:hover {
text-decoration: none;
}

i {
    color:black;
}


a:hover i, button:hover i {
color: #2142b2;
transition: color ease-in-out 0.3s;
}

input[type="file"] {
display: none;
}

.footer{
    background-color: #555555;
}

.strongBorder{
    border-style: solid;
    border-color: rgb(185, 178, 178);
    border-width:2px;
}